:root {
  --slategray: #7D858E;
  --darkmoss: #576A0C;
  --brownolive: #9F8D44;
  --frenchgray: #C6CBD0;
  --greenolive: #7A8513;
  --darktext: rgb(27, 27, 27);
}

body{
  background-color: var(--frenchgray);
}

.App {
  text-align: center;
  background-color: var(--frenchgray);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: var(--darkmoss);
  color: var(--frenchgray);
}


.nav{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: var(--frenchgray);

}
h1{
  text-align: center;
}

.container {
  color: var(--darktext);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2%;
}

.cardBody a{
  color: ghostwhite;
}

.list-group{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.cardHeader{
  display: flex;
  justify-content: space-around;
  color: var(--darktext);
}

.projectCard{

  /* margin-bottom: 2%;
  margin-top: 2%; */
  box-sizing: border-box;
  margin: 5px;
  border: 2px solid var(--slategray);
  border-radius: 5px;
  background: var(--greenolive);
  color: var(--darktext);
  height: 425px;
  width: 425px;
}

.resume{
  text-align: center;
width: 100%;
}

.frontEnd{
  width: 50%;
  box-sizing: border-box;
}

.backEnd{
  width: 50%;
  box-sizing: border-box;
}

#resumeButt{
  margin: 2%;
  background-color: var(--darkmoss);
  border-radius: 5px;
}